.app-icon__group {
	position: absolute;
	z-index: 10;
	left: 10px;
	top: 10px;
}

.app-icon {
	width: 10px;
	height: 10px;
	background: #8e8e93;
	border: 1px solid #6e6f76;
	display: inline-block;
	margin-right: 6px;
	border-radius: 100%;
}