<div class="sample-content">
	<i class="sample-content__logo"></i>
	<h4 class="sample-content__title">Ayyo Movies launched a&nbsp;new design of&nbsp;Smart&nbsp;TV application</h4>
	<img src="/i/ayyo-image.jpg" height="494" width="740" alt="" class="sample-content__image" />
	<p>The main goal of&nbsp;the update&nbsp;&mdash; to&nbsp;create a&nbsp;new interface to&nbsp;the Smart TV&nbsp;applications, based on&nbsp;user behavior in&nbsp;the old version Ayyo simultaneously changing all the technical background&nbsp;is. Now, instead of&nbsp;the endless windows with films, the application consists of&nbsp;four sections, corresponding to&nbsp;the four types of&nbsp;audience.</p>
</div>