@import url(./assets/colors.css);

body {
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.72222;
    color: #34495e;
    background-color: #fff;
}

a {
	color: #04a084;
	transition: color 0.3s;
}

a:hover {
	color: #02bd9b;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 50px;
    margin-bottom: 10px;
    line-height: 1.2;
    font-weight: normal;
}

h6 {
    font-weight: bold;
}

h1 {
	margin-top: 0;
    font-size: 53px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 29px;
}

h4 {
    font-size: 28px;
}

h5 {
    font-size: 24px;
}

h6 {
    font-size: 24px;
}

p {
    margin: 0 0 15px;
    line-height: 1.72222;
}

blockquote {
	padding: 0 0 0 16px;
	margin: 0 0 30px;
	border-left: 3px solid #e7e9ec;
	font-size: 17.5px;
}

img {
	max-width: 100%;
	height: auto;
	display: block;
}

code, kbd, pre, samp {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}

code {
    padding: 2px 6px;
    font-size: 85%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
}

pre {
    padding: 8px;
    margin: 0 0 15px;
    font-size: 13px;
    line-height: 1.72222;
    color: inherit;
    white-space: pre;
    background-color: #fff;
    border: 2px solid #e7e9ec;
    border-radius: 6px;
}

pre code {
	background: none;
	padding: 0;
}

hr {
	height: 3px;
	border: 0;
	background: #ecf0f1;
	margin: 30px 0;
}

.project-logo {
	line-height: 1;
	margin-bottom: 20px;
}

.project-logo::before {
	font-family: 'Playfair Display', serif;
	content: 'Emmet';
	display: block;
	font-style: italic;
	letter-spacing: 3px;
	font-size: 13px;
	color: #7A7A7A;
	margin-bottom: 5px;
}

.layout {
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.main-nav {
	float: left;
	width: 220px;
	margin-right: -220px;
	font-size: 14px;
	padding-top: 53px;
}

.main-nav__title {
	font-size: 1.3em;
}

.site-nav {
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
	left: -8px;
}

.site-nav__item {
	margin-bottom: 0.5em;
	padding: 5px 8px;
	border-radius: 4px;
}

.site-nav__item-selected {
	background: #02bd9b;
	color: #fff;
}

.content {
	margin-left: 250px;
}

.docs-nav {
	overflow: hidden;
	margin: 30px 0;
}

.docs-nav__item {
	margin: 0;
}

.docs-nav__item_next {
	float: right;
}

.docs-nav__item_prev {
	float: left;
}

.page-footer {
	font-size: 0.8em;
	padding-left: 250px;
	color: #bdc3c7;
	margin-top: 30px;
	margin-bottom: 30px;
}

.page-footer p {
	margin-bottom: 0;
}

.footer-links {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0 0 20px;
	text-align: center;
}

.footer-links__item {
	display: inline-block;
	margin: 0 15px;
}

.footer-links__item a {
	text-decoration: none;
}

.copyright {
	display: none;
}