@import url(./assets/app-icon.css);
@import url(./assets/browser.css);
@import url(./assets/editor.css);
@import url(./assets/livestyle-popup.css);
@import url(./assets/devices.css);
@import url(./assets/sample-content.css);
@import url(./assets/code.css);
@import url(./assets/quick-tour-popup.css);
@import url(./assets/vendor/likely.css);

body {
	padding: 0;
	margin: 0;
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-weight: 200;
	font-size: 21px;
	line-height: 1.3;
}

hr {
	width: 800px;
	margin: 0 auto;
	border: 0;
	border-top: 1px solid #bbb;
}

h1 {
	font-weight: 200;
	font-size: 1.8em;
	line-height: 1.25;
	margin-bottom: 10px;
	margin-top: 0;
}

h2 {
	font-weight: normal;
	margin-top: 38px;
	margin-bottom: 10px;
	font-size: 1.3em;
}

h3 {
	font-weight: normal;
	font-size: 1.2em;
}

p {
	margin-top: 0;
}

a:link {
	color: #446AF8;
}

a:link:hover {
	color: #014DE6;
}

.layout-container {
	position: relative;
	overflow: hidden;
	transition: filter 0.5s;
}

.layout-container_blurred {
	filter: blur(7px);
}

.layout-container_bg1 {
	background: #E5E5E5;
}

.layout-container_bg2 {
	background: #F0F4F3;
}

.layout-content {
	width: 800px;
	margin: 0 auto;
	position: relative;
	padding: 60px;
	text-align: center;
	box-sizing: border-box;
	z-index: 1;
}

.layout-assets {
	position: relative;
}

.comment {
	font-size: 0.85em;
	margin-bottom: 0.3em;
}

.project-logo {
	margin-bottom: 50px;
}

.project-logo::before {
	font-family: 'Playfair Display', serif;
	content: 'Emmet';
	display: block;
	font-style: italic;
	letter-spacing: 3px;
	font-size: 13px;
	color: #7A7A7A;
	margin-bottom: 5px;
}

.hero {
	height: 410px;
}

.hero-image {
	width: 870px;
	height: 664px;
	display: block;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 50%;
	margin-left: -435px;
	background: url(/i/bg-shape.png);
	background-size: 100% 100%;
}

.hero-links {
	list-style-type: none;
	margin: 0 0 35px;
	font-size: 0.9em;
}

.hero-links__item {
	display: inline-block;
	margin: 0 44px;
}

.hero-links__item a {
	text-decoration: none;
	color: #000;
}

.hero-links__item a:hover {
	color: #666;
}

.hero-link_demo::after {
	display: inline-block;
	content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjYiIGhlaWdodD0iMjYiIHZpZXdCb3g9IjAgMCAyNiAyNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNMTMgMGMtNy4xOCAwLTEzIDUuODItMTMgMTNzNS44MiAxMyAxMyAxM2M3LjE3OSAwIDEzLTUuODIgMTMtMTNzLTUuODItMTMtMTMtMTN6bTAgMjQuOTZjLTYuNTk1IDAtMTEuOTYtNS4zNjUtMTEuOTYtMTEuOTYgMC02LjU5NSA1LjM2NS0xMS45NiAxMS45Ni0xMS45NiA2LjU5NSAwIDExLjk2IDUuMzY1IDExLjk2IDExLjk2IDAgNi41OTUtNS4zNjQgMTEuOTYtMTEuOTYgMTEuOTZ6bS0zLjE0OC02LjVsOS4zNi01LjQ2LTkuMzYtNS40NnYxMC45MnptMS4wNC05LjExbDYuMjU2IDMuNjUtNi4yNTYgMy42NDl2LTcuMjk5eiIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==);
	width: 26px;
	height: 26px;
	position: absolute;
	margin-left: 8px;
}

.hero-link_guide::after {
	display: inline-block;
	content: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOSIgaGVpZ2h0PSIxNyIgdmlld0JveD0iMCAwIDkgMTciIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTS45MTUgMS45MTlsNS42OTUgNi44MzEtNS42OTUgNi44MzFjLS4yNTIuMzAyLS4yMS43NTEuMDkxIDEuMDAzLjMwMi4yNTIuNzUxLjIxMSAxLjAwMy0uMDkxbDYuMDc1LTcuMjg4Yy4xMS0uMTMyLjE2NS0uMjk0LjE2NS0uNDU2IDAtLjE2Mi0uMDU1LS4zMjQtLjE2NS0uNDU2bC02LjA3NS03LjI4OGMtLjI1Mi0uMzAyLS43MDEtLjM0My0xLjAwMy0uMDkxLS4zMDIuMjUzLS4zNDMuNy0uMDkxIDEuMDAzeiIgZmlsbD0iIzAwMCIvPjwvc3ZnPg==);
	width: 9px;
	height: 7px;
	position: absolute;
	margin-left: 7px;
	margin-top: 3px;
}

.secret-powers {
	margin-bottom: 35px;
	display: inline-block;
	overflow: hidden;
	position: relative;
}

.secret-powers::after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 23px;
	background-image: linear-gradient(rgba(246, 246, 246, 0.0), #eeeeee);
	transition: transform 0.2s;
}

.secret-powers:hover::after {
	transform: translateY(100%);
}

.secret-powers__link {
	color: #e74c3c !important;
	display: inline-block;
	border: 2px solid currentColor;
	border-radius: 40px;
	text-decoration: none;
	padding: 6px 35px;
	font-size: 1.2em;
	transform: translateY(17px);
	opacity: 0.2;
	transition-property: opacity, transform;
	transition-duration: 0.2s;
}

.secret-powers:hover .secret-powers__link {
	opacity: 1;
	transform: translateY(0);
}

.download__fallback {
	font-family: 'Playfair Display', serif;
	font-size: 13px;
	font-style: italic;
	color: #7A7A7A;
	width: 260px;
	line-height: 1.5;
	margin: 10px auto 0;
	display: none;
}

.download__btn {
	display: inline-block;
	background: #fff;
	border: 2px solid #446AF8;
	border-radius: 40px;
	text-decoration: none;
	padding: 6px 35px;
	font-size: 1em;
}

.download_unavailable .download__btn {
	opacity: .2;
	pointer-events: none;
}

.download_unavailable .download__fallback {
	display: block;
}

.hero .download__btn {
	background: #f4f4f4;
}

.download-os {
	position: relative;
	top: 5px;
	height: 30px;
	margin-bottom: -30px;
}

.download-os__link {
	text-decoration: none;
}

.download-os__icon {
	width: 15px;
	height: 15px;
	vertical-align: bottom;
	fill: #a3a3a3;
	margin: 0 3px;
	text-decoration: none;
	display: inline-block;
}

.download-os__icon[data-os="osx"] {
	width: 22px;
	height: 22px;
	position: relative;
	top: 1px;
}

.download-os__icon:hover,
.download-os__icon_active {
	fill: #446AF8;
}

.layout-content_bidirectional .layout-assets {
	height: 600px;
	margin-top: 60px;
}

.layout-content_bidirectional .browser {
	position: absolute;
	width: 830px;
	height: 100%;
	right: 215px;
}

.layout-content_bidirectional .browser__content {
	font-size: 15px;
}

.layout-content_bidirectional .sample-content__logo {
	display: none;
}

.layout-content_bidirectional .sample-content_edit1 {
	color: #446AF8;
}

.layout-content_bidirectional .sample-content_edit2 {
	color: #F73C37;
}

.layout-content_bidirectional .editor {
	position: absolute;
	left: 525px;
	height: 100%;
}

.layout-content_one-heart .layout-assets {
	margin: 40px -60px;
	text-align: center;
}

.layout-content_one-heart .editor {
	width: 700px;
	height: 315px;
	display: inline-block;
}

.layout-content_remote-view .layout-assets {
	height: 420px;
	position: relative;
}

.layout-content_remote-view .layout-assets::after {
	content: '';
	width: 2000px;
	height: 110px;
	position: absolute;
	left: -1000px;
	bottom: -40px;
	background-image: linear-gradient(rgba(255, 255, 255, 0), #fff 54%);
	z-index: 10;
}

.layout-content_remote-view .browser {
	height: 100%;
	position: absolute;
	right: 230px;
	width: 700px;
}

.layout-content_remote-view .browser__content {
	right: 0;
	background: #D0D0D0;
	color: #fff;
	font-size: 15px;
}

.layout-content_remote-view .browser__content_edited {
	background: #2AB79A;
}

.layout-content_remote-view .browser__devtools,
.layout-content_remote-view .sample-content__image {
	display: none;
}

.layout-content_remote-view .editor {
	position: absolute;
	left: 515px;
	height: 100%;
	width: 400px;
}

.device-label {
	background: #fff;
}

.layout-content_features {
	padding: 33px 0;
}

.feature-summary {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0px -30px;
	font-size: 0.7em;
	text-align: justify;
}

.feature-summary:after {
	display: inline-block;
	content: '';
	width: 100%;
	height: 0;
}

.feature-summary__item {
	display: inline-block;
	width: 29%;
	vertical-align: top;
	text-align: left;
	margin: 0;
	padding: 30px 0;
	line-height: 1.4;
}

.feature-summary__item em {
	color: #9B9B9B;
}

.feature-summary__item h3 {
	font-size: 1.3em;
	margin-bottom: 0.7em;
}

.feature-summary__item:nth-of-type(1) h3 {
	color: #d0021b;
}

.feature-summary__item:nth-of-type(2) h3 {
	color: #f5a623;
}

.feature-summary__item:nth-of-type(3) h3 {
	color: #4a90e2;
}

.feature-summary__item:nth-of-type(4) h3 {
	color: #00eeff;
}

.feature-summary__item:nth-of-type(5) h3 {
	color: #bd10e0;
}

.feature-summary__item:nth-of-type(6) h3 {
	color: #7ed321;
}

.layout-content_download {
	padding: 100px 0;
}

.likely {
	text-align: center;
	display: block;
	margin: 50px 0 0;
}

.likely .likely__widget {
	border: 1px solid #e7e7e9;
	background-color: transparent;
	padding: 2px;
}

.likely .likely__widget_twitter:hover {
	background-color: rgba(191,237,250,.8);
}

.likely .likely__widget_facebook:hover {
	background-color: rgba(207,212,229,.8);
}

.likely .likely__widget_gplus:hover {
	background-color: rgba(246,207,207,.8);
}

.page-footer {
	display: block;
	padding: 50px 0 20px;
	text-align: center;
	font-size: 0.6em;
}

.footer-links {
	display: block;
	list-style-type: none;
	padding: 0;
	margin: 0 0 20px;
}

.footer-links__item {
	display: inline-block;
	margin: 0 15px;
}

.footer-links__item a {
	text-decoration: none;
}

.copyright {
	margin: 0;
	color: #acacac;
}

.copyright a {
	color: #7f7f7f;
	text-decoration: none;
}

.copyright a:hover {
	color: #333;
}

.spark {
	background-image: radial-gradient(50% 50%, #F8DE75 0%, rgba(241,195,15,0) 100%);
	width: 45px;
	height: 45px;
	margin: -22px;
	border-radius: 100%;
	position: absolute;
	z-index: 10;
	left: 0;
	top: 0;
	visibility: hidden;
}

.hidden {
	display: none;
}