@import url(assets/app-icon.css);
@import url(assets/browser.css);
@import url(assets/editor.css);
@import url(assets/livestyle-popup.css);
@import url(assets/devices.css);
@import url(assets/slides.css);
@import url(assets/code.css);
@import url(assets/sample-content.css);
@import url(assets/playback-controls.css);

html, body {
	background: #F0F4F3;
	overflow: hidden;
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	color: #000;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

p {
	margin-top: 0;
}

.qt {
	position: relative;
	font-size: 16px;
	width: 960px;
	height: 550px;
	margin: 0 auto;
	/* font-family: Tahoma, sans-serif; */
	font-family: 'helvetica neue', helvetica, arial, sans-serif;
	font-weight: 200;
}

.qt-screen {
	position: relative;
}

.qt-shade {
	position: absolute;
	background: #F0F4F3;
	display: block;
	padding: 2px;
	margin: -2px;
	z-index: 1;
}

.qt-shade::before {
	content: '';
	display: block;
	width: 100px;
	height: 100%;
	left: -100px;
	position: absolute;
	background-image: linear-gradient(to right, rgba(240, 244, 243, 0.0), #F0F4F3);
	transition: transform 0.3s;
	transform-origin: 100% 50%;
}

.qt-shade_idle::before {
	transform: scaleX(0);
}

.qt-focus-ring {
	position: absolute;
	display: inline-block;
	z-index: 10;
	width: 70px;
	height: 70px;
	border-radius: 35px;
	margin: -38px;
	border: 3px solid #f1c22a;
	transform-origin: 50% 50%;
	box-shadow: 0px 0px 7px 0px #f1c22a;
	left: 398px;
	top: 345px;
}

.browser, .editor {
	position: absolute;
	top: 0;
	left: 0;
	width: 512px;
	height: 430px;
}

.browser {
	z-index: 3;
}

.editor {
	z-index: 2;
}

.browser .qt-focus-ring {
	right: 49px;
	top: 15px;
}

.sample-content__logo,
.sample-content__image {
	display: none;
}

.sample-content__title {
	margin-top: 0;
}

.browser__content {
	right: 0;
	font-size: 14px;
	bottom: 0;
	border-bottom-right-radius: 6px;
}

.browser__content[data-state="edit1"] {
	color: #D55C4B;
}

.browser__content[data-state="edit2"] {
	color: #4C9BD8;
}

.browser__content[data-state="edit3"] {
	color: #4C9BD8;
	font-size: 1.4em;
}

.browser__content[data-state="edit4"] {
	color: #4C9BD8;
	font-size: 1.4em;
	background: #374A5D;
}

.browser__devtools {
	width: 100%;
	top: auto;
	height: 150px;
	border-top: 1px solid #a3a3a3;
	border-left: 0;
	z-index: 4;
	background: #fff;
	border-radius: 0 0 6px 6px;
}

.browser__devtools::after {
	display: none;
}

.browser__devtools-style-pane {
	width: 250px;
	height: 100%;
	border-left: 1px solid #a3a3a3;
	border-top: 0;
	z-index: 3;
}

.browser__content_rv-edited  {
	background: #2AB79A;
}

.device-content {
	background: #fff;
	color: #000;
}

.device-label {
	background: #F0F4F3;
}

.qt-text {
	margin: 0 0 1.5em;
	line-height: 1.4;
}

.qt-text-header {
	font-size: 4em;
	margin: 0 0 0.2em;
	line-height: 1;
	font-weight: normal;
	/* display: inline-block; */
}

.qt-text-subheader {
	font-size: 1.5em;
	line-height: 1;
	font-weight: normal;
	margin: 0;
}

.qt-play-again {
	display: inline-block;
	border: 2px solid #000;
	border-radius: 45px;
	padding: 10px 25px;
	font-size: 2em;
	cursor: pointer;
	transition: background-color 0.4s;
}

.qt-play-again:hover {
	opacity: 0.6;
	background: rgba(255, 255, 255, 0.2);
}

.qt-download__comment {
	font-size: 0.7em;
}

.qt-invisible, .invisible {
	visibility: hidden;
}

.qt-hidden, .hidden {
	display: none;
}

.device-list {
	margin: 0 auto;
}

.device-laptop-content {
	padding-top: 12px;
	box-sizing: border-box;
}

.qt-browser-line1 {
	position: absolute;
	left: 230px;
	top: 126px;
	z-index: 12;
}

.qt-browser-line2 {
	position: absolute;
	left: 491px;
	top: 144px;
	z-index: 12;
}

.debug-controls {
	position: relative !important;
}